# Project exclude paths
/.idea/
/_1FirstStep/target/
/_2Primitives/target/
/_3Declarations/target/
/_4ControlFlow/target/
/_5OOP/target/
/_6AccessControl/target/
/_7ExceptionHandling/target/
/_8APIClasses/target/
/_9NestedTypeDeclarations/target/
/_10ObjectLifetime/target/
/_11Generics/target/
/_12ArrayList/target/
/_13Functional/target/
/_14ObjectComparison/target/
/_15Collections/target/
/_16Streams/target/
/out/
/_17DateTime/target/
/_18Localization/target/
/_22Concurrency/target/
/_23Concurrency/target/
